@font-face {
    font-family: 'wc_mano_negra_btaregular';
    src: url('police/WCManoNegraBta-webfont.eot');
    src: url('police/WCManoNegraBta-webfont.eot?#iefix') format('embedded-opentype'),
         url('police/WCManoNegraBta-webfont.woff2') format('woff2'),
         url('police/WCManoNegraBta-webfont.woff') format('woff'),
         url('police/WCManoNegraBta-webfont.ttf') format('truetype'),
         url('police/WCManoNegraBta-webfont.svg#wc_mano_negra_btaregular') format('svg');
    font-weight: normal;
    font-style: normal;
    }

 

*{ 
  box-sizing: border-box; 
} 

body{
    margin: 0;
    padding:0;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.5px;
}

nav{
    font-family: 'wc_mano_negra_btaregular';
    font-size: 1.5em;
    font-weight: bold;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    
}

a{
  margin-right: 20px;
  justify-content: space-between;
  text-decoration: none;
  color: white;
}

h4{
    font-family: 'wc_mano_negra_btaregular';
}

#contain{
    display: grid;
    /*flex-direction: column;*/
    margin: 0;
}

/*--------first section-----------------------------*/

#backgroung_image{
    background: url('PlacadeSantAgustiVellTop.jpg') no-repeat center center fixed; 
    margin: 0;
    opacity: 1;
    background-size:cover;
    height:600px;
}

/*------button effect--------------*/
.btn{
    border: 1px solid #405d27;
    background:none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: 'montserrat', 'Roboto', sans-serif;
    text-align: center;
    cursor:pointer;
    transition: 0.8s;
    position:relative;
    overflow: hidden;
}

.btn1{
    color:#405d27;
    
}

.btn1:hover {
    color: #fff;
    z-index: 100;
}

.btn::before {
    content: "";
    position:absolute;
    left: 0;
    width: 100%;
    height:0%;
    background: #405d27;
    transition: 0.8s;
    top:0;
    border-radius: 0 0 50% 50%;
    
}

.btn1:hover::before {
    height: 180%;
    z-index: -1;
}

/*--------------------------------------*/


/*#backgroung_image h1 {
    color: white;
    text-align: center;
    border: 1px white inset;
    margin-top:1;
    border-right: 5px;
    border-left: 5px;
    display:block;
}

#backgroung_image h2 {
    color: white;
    text-align: center;
    border: 1px white inset;
    margin-top:1;
    border-right: 5px;
    border-left: 5px;
}

#backgroung_image h3 {
    color: white;
    text-align: center;
    border: 1px white double;
    margin-top:1;
    border-right: 5px;
    border-left: 5px;

}

/*--------google map-----------------------------*/

#google_map{
    border: 1px red solid;
}

#google_map h2{
    color: white;
    text-align: center;
    border: 1px white inset;
    margin-top:1;
    border-right: 5px;
    border-left: 5px;
}